body {
    font-family: 微軟正黑體;
    color: #333;
}

.g-bd1 {
    margin: 0;
}

.g-sd1 {
	position: fixed;
	float: left;
	width: 220px;
	height: 100vh;
	margin-right: -220px;
	background-color: mediumspringgreen;
	background-image: url(../img/left-bar-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	transition: width 0.5s,margin 0.5s;
}
.x-logo-box {
    margin-top: 40px;
    width: 100%;
}
.x-logo {
	display: block;
	margin: auto;
	width: 128px;
	height: 128px;
	border-radius: 128px;
}

.x-menu-box {
	margin-top: 40px;
	width: 100%;
}
.x-menu {
	width: 100%;
	font-size: 1.6em;
}
.x-menu li {
	width: 130px;
	margin: auto;
	line-height: 2.2em;
	letter-spacing: 0.2em;
	text-align: center;
}
.x-menu a {
	color: white;
	text-shadow: 0 0 5px black;
}
.x-copy {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 5px black;
	font-size: 1em;
	color: whitesmoke;
	opacity: 0.8;
}
.g-mn1 {
	float: right;
	width: 100%;
	overflow: hidden;
}
.g-mn1c {
	margin-left: 220px;
	padding: 30px;
	transition: margin 0.5s;
}
.x-post-item {
	min-height: 210px;
	margin-bottom: 30px;
	border-bottom: 1px solid whitesmoke;
}
.x-post-item h1 {
	font-size: 2em;
	margin-bottom: 10px;
}
.x-post-item-cover {
	float: right;
	display: inline-block;
	width: 150px;
	height: 150px;
	vertical-align: top;
	margin: 0 0 20px 20px;
}
.x-post-item-cover img {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	object-fit: cover;
}
.x-post-item img {
	max-width: 100%;
	display: block;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
.x-post-item-meta {
	margin-bottom: 10px;
	font-size: 1.1em;
	color: darkgrey;
}
.x-post-item-meta date {
	margin-right: 5px;
}
.x-post-item-meta a {
	color: darkgrey;
}
.x-post-item-cont {
	margin-bottom: 10px;
	font-size: 1.3em;
	line-height: 1.8em;
}