{% extends "base.html" %}

{% block content %}
    <div class="x-main">
        {% for post in post_list %}
            <div class="x-post-item">
                <h1><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h1>
                {% if post.image %}
                    <div class="x-post-item-cover">
                        <a href="{% url "detail" id=post.id %}"><img class="post-images" src="{{ post.image }}"/></a>
                    </div>
                {% endif %}
                <div class="x-post-item-meta">
                    <cate>{{ post.author }}</cate>
                    <date>{{ post.created }}</date>
                    <cate>{{ post.category }}</cate>
                    <cate>{{ post.views }} views</cate>
                </div>
                <div class="x-post-item-cont">
                    {{ post.excerpt }}
                </div>
                <more><a href="{% url "detail" id=post.id %}">Read More >>> </a></more>
            </div>
        {% endfor %}
        <div class="x-page-pointer">
            {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
                <ul>
                    {% if post_list.has_previous %}
                        <li class="x-next" id="x-newer-li">
                            <a href="?page={{ post_list.previous_page_number }}" id="x-newer">Newer →</a>
                        </li>
                    {% endif %}
                    {% if post_list.has_next %}
                        <li class="x-previous" id="x-older-li">
                            <a href="?page={{ post_list.next_page_number }}" id="x-older">← Older</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
