{% extends "base.html" %}

{% block content %}
    <div class="x-main">
        {% if not post_list %}
            <h2>404 NOT Found</h2>
        {% else %}
            {% for post in post_list %}
                <div class="x-post-item">
                    <h2><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>
                    <div class="x-post-item-meta">
                        <date>{{ post.created | date:"Y /m /d" }}</date>
                    </div>
                </div>
            {% endfor %}
            {% include "duoshuo.html" %}
        {% endif %}
    </div>
{% endblock %}