<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Flow Blog</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css">
    <link href="/static/css/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="/">Flow Blog</a></h1>
            <h2 class="brand-tagline">Snow Memory</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/archives">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" target="_blank" href="https://github.com/im0qianqian">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-error pure-button" target="_blank"
                           href="http://weibo.com/im0qianqian">Weibo</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" target="_blank" href="/feed/">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/about">About Me</a>
                    </li>
                    <li style="color: #000;">
                        <form class="pure-form" action="/search/" method="get">
                            <input class="pure-input-3-3" type="text" name="s" placeholder="search">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="https://www.dreamwings.cn/">About Me</a></li>
                        <li><a href="http://twitter.com/im0qianqian">Twitter</a></li>
                        <li><a href="http://github.com/im0qianqian">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/prism.js"></script>
</body>
</html>