{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-meta">
                    @ {{ post.author }} / {{ post.created | date:"Y /m /d" }}
                    / <span class="post-category post-category-js">{{ post.category }}</span>
                    {% if post.image %}
                        <div style="text-align: center;"><img style="margin: 2% auto;" src="{{ post.image }}"/></div>
                    {% endif %}
                </p>
            </header>
            <div class="post-description">
                {{ post.content|custom_markdown }}
            </div>
        </section>
        {% include "duoshuo.html" %}
    </div>
{% endblock %}